<div class="main-container">
  <div class="selector">
    <mat-form-field color="accent">
      <mat-label>Chat mit:</mat-label>
      <mat-select [(value)]="selectedChat" placeholder="Mode">
        <mat-option value="Alle">Alle</mat-option>
        <mat-option value="Mein Register">Mein Register</mat-option>
        <mat-option value="Person A">Person A</mat-option>
        <mat-option value="Person B">Person B</mat-option>
        <mat-option value="Technische Hilfe">Support</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <img src="/assets/chat_1.jpg" alt="sample depiction of a chat history with input field">
  </div>

</div>
